In [11]:
# Q1: Write a code to create a string with your name and print it?
#ANS:
name=input("Enter Your Name To Proceed")
print(type(name))
print("Hello "+name +" Good Morning")

Enter Your Name To Proceed Pankaj

<class 'str'>
Hello Pankaj Good Morning

In [15]:
# Q2: Write a code to find the length of the string "Hello World"?
#ANS:
name="Hello World"
print(len(name))

11

In [17]:
# Q3: Write a code to slice the first 3 characters from the string "Python Programming"?
#ANS:
name="Python Programming"
name[:3]

'Pyt'

In [5]:
# Q4: Write a code to convert the string "hello" to uppercase?
#ANS:
name="hello"
name.upper()

'HELLO'

In [7]:
#Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple"?
#ANS:
a="I Like Apple"
a.replace("Apple","Oranges")

'I Like Oranges'

In [33]:
# Q6: Write a code to replace the word "apple" with "orange" in the string "I like apple"?
#ANS:
a=[]
for i in range(1,6):
   a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [37]:
# Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]?
#ANS:
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10, 10]

In [39]:
# Q8: Write a code to append the number 10 to the list [1, 2, 3, 4]?
#ANS:
a.remove(3)
print(a)

[1, 2, 4, 5, 10, 10]

In [41]:
# Q9: Write a code to append the number 10 to the list [1, 2, 3, 4]?
#ANS:
b=['a','b','c','d']
b[1]

'b'

In [11]:
# Q10: Write a code to reverse the list [10, 20, 30, 40, 50]?
#ANS:
c=[10,20,30,40,50]
rev = c[::-1]
print(rev)

[50, 40, 30, 20, 10]

In [25]:
#Q11:  Write a code to create a tuple with the elements 10, 20, 30 and print it?
#ANS:
my = ("10", "20", "30")
print(my,type(my))

('10', '20', '30') <class 'tuple'>

In [27]:
#Q12:  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').?
#ANS:
my = ("apple", "banana", "cherry")
print(my[0])

apple

In [29]:
#Q13: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
#ANS:
this = (1,2,3,2,4,2)
print(this.count(2))

3

In [33]:
#Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#ANS:
animal=('Dog','cat','rabbit')
animal.index('cat')

1

In [37]:
#Q15: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
#ANS:
fruits = ('apple','orange','banana')
for i in fruits:
    if(i=='banana'):
       print("Banana Present")

Banana Present

In [43]:
#Q16:  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?
#ANS:
mys={1,2,3,4,5}
print(mys,type(mys))

{1, 2, 3, 4, 5} <class 'set'>

In [51]:
#Q17: Write a code to add the element 6 to the set {1, 2, 3, 4}?
#ANS:
mys.add(6)
print(mys,type(mys))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [53]:
#Q18: Write a code to create a tuple with the elements 10, 20, 30 and print it?
#ANS:
t = (10, 20, 30) 

print(t,type(t))

(10, 20, 30) <class 'tuple'>

In [57]:
#Q19: Write a code to create a tuple with the elements 10, 20, 30 and print it?
#ANS:
my = ('apple','banana','cherry')
first_elements = my[0]
last_elements = my[-1]
print("First Element:", first_elements)
print("Last Element:", last_elements)

First Element: apple
Last Element: cherry

In [59]:
#Q20: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
#ANS:
this = (1,2,3,2,4,2)
print(this.count(2))

3

In [61]:
#Q21: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
#ANS:
animal=('Dog','cat','rabbit')
animal.index('cat')

1

In [63]:
#Q22: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
#ANS: 
fruits = ('apple','orange','banana')
for i in fruits:
    if(i=='banana'):
       print("Banana Present")

Banana Present

In [65]:
#Q23: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
#ANS:
mys={1,2,3,4,5}
print(mys,type(mys))

{1, 2, 3, 4, 5} <class 'set'>

In [67]:
#Q24: Write a code to add the element 6 to the set {1, 2, 3, 4}?
#ANS:
mys.add(6)
print(mys,type(mys))

{1, 2, 3, 4, 5, 6} <class 'set'>